body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

.input-wrapper {
  position: relative;
  width: 250px;
}

.rupee {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px 10px 10px 25px;
  font-size: 16px;
  box-sizing: border-box;
}
